
*.v2
src/.vs/TestPlatformProject/v16/.suo
src/Client/BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
src/Client/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.assets.cache
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csprojAssemblyReference.cache
src/Client/BusinessLogic/obj/project.assets.json
src/Client/BusinessLogic/obj/project.nuget.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/Pages/LoginPage.g.i.cs
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/Pages/RegisterPage.g.i.cs
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.assets.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.csprojAssemblyReference.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.designer.runtimeconfig.json
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.lref
src/Client/TestPlatformProject/obj/project.assets.json
src/Client/TestPlatformProject/obj/project.nuget.cache
src/Client/TestPlatformProject/obj/TestPlatformProject.csproj.nuget.dgspec.json
src/Client/TestPlatformProject/obj/TestPlatformProject.csproj.nuget.g.props
src/Server/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
src/Server/DataAccess/obj/DataAccess.csproj.nuget.g.props
src/Server/DataAccess/obj/Debug/netstandard2.0/DataAccess.assets.cache
src/Server/DataAccess/obj/Debug/netstandard2.0/DataAccess.csprojAssemblyReference.cache
src/Server/DataAccess/obj/project.assets.json
src/Server/DataAccess/obj/project.nuget.cache
src/Server/SeverApp/obj/Debug/netcoreapp3.1/SeverApp.assets.cache
src/Server/SeverApp/obj/Debug/netcoreapp3.1/SeverApp.csprojAssemblyReference.cache
src/Server/SeverApp/obj/project.assets.json
src/Server/SeverApp/obj/project.nuget.cache
src/Server/SeverApp/obj/SeverApp.csproj.nuget.dgspec.json
src/Server/SeverApp/obj/SeverApp.csproj.nuget.g.props
src/Server/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
src/Server/DataAccess/obj/DataAccess.csproj.nuget.g.props
src/Server/DataAccess/obj/Debug/netstandard2.0/DataAccess.assets.cache
src/Server/DataAccess/obj/Debug/netstandard2.0/DataAccess.csprojAssemblyReference.cache
src/Server/DataAccess/obj/project.assets.json
src/Server/DataAccess/obj/project.nuget.cache
src/Server/SeverApp/obj/Debug/netcoreapp3.1/SeverApp.assets.cache
src/Server/SeverApp/obj/Debug/netcoreapp3.1/SeverApp.csprojAssemblyReference.cache
src/Server/SeverApp/obj/project.assets.json
src/Server/SeverApp/obj/project.nuget.cache
src/Server/SeverApp/obj/SeverApp.csproj.nuget.dgspec.json
src/Server/SeverApp/obj/SeverApp.csproj.nuget.g.props
src/Client/TestPlatformProject/obj/TestPlatformProject.csproj.nuget.g.props
src/Client/TestPlatformProject/obj/TestPlatformProject.csproj.nuget.dgspec.json
src/Client/TestPlatformProject/obj/project.nuget.cache
src/Client/TestPlatformProject/obj/project.assets.json
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.designer.runtimeconfig.json
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.csprojAssemblyReference.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject.assets.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
src/Client/BusinessLogic/obj/project.nuget.cache
src/Client/BusinessLogic/obj/project.assets.json
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csprojAssemblyReference.cache
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.assets.cache
src/Client/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
src/Client/BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/Pages/AdminPage.g.i.cs
src/Client/BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.deps.json
src/Client/BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.dll
src/Client/BusinessLogic/bin/Debug/netstandard2.0/BusinessLogic.pdb
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csproj.CoreCompileInputs.cache
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.csproj.FileListAbsolute.txt
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.dll
src/Client/BusinessLogic/obj/Debug/netstandard2.0/BusinessLogic.pdb
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.cache
src/Client/TestPlatformProject/obj/Debug/netcoreapp3.1/TestPlatformProject_MarkupCompile.i.cache
